{% extends "base.html" %}

{% block title %}
<title>Appointments List</title>
{% endblock title %}

{% block header %}
<h1>Appointments</h1>
{% endblock header %}

{% block content %}
<div class="text-center mt-3 mb-3">
  <a href="{% url 'vet:pets_create'%}" class="btn btn-primary"  role="button">Create Appointment</a>
</div>
<br>
{% if petdates %}
<table class="table table-hover text-center">
  <tr>
    <th>#Appointment</th>
    <th>Appointment Date</th>
    <th>Procedure</th>
    <th>Pet's Name</th>
    <th>Actions</th>
  </tr>
    {% for petdate in petdates %}
    <tr>
      <td>  <a href="{% url 'vet:petdates_detail' pk=petdate.id %}">{{ petdate.id }}</a> </td>
      <td>{{ petdate.datetime }}</td>
      <td>{{ petdate.type }}</td>
      <td>{{ petdate.pet.name }}</td>
      <td>
          <a href="{% url 'vet:petdates_detail' pk=petdate.id %}" class="btn btn-link"  role="button">View</a>
          <a href="{% url 'vet:pets_edit' pk=petdate.id %}" class="btn btn-warning"  role="button">Modify</a>
          <a href="{% url 'vet:pets_delete' pk=petdate.id %}" class="btn btn-danger"  role="button">DELETE</a>
      </td>
    </tr>
    {% endfor %}
</table>
  {% include "pagination.html" %}
{% else  %}
  <h1>DATA NOT FOUND</h1>
{% endif  %}
{% endblock content %}