{% extends "base.html" %}

{% block title %}
<title>Owners</title>
{% endblock title %}

{% block header %}
<h1>Owners list</h1>
{% endblock header %}

{% block content %}
<div class="mt-3 mb-3">
  <form class="form-control" role="search" method="get">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<div class="text-center mt-3">
  <a href="{% url 'vet:owners_create'%}" class="btn btn-primary"  role="button">Create Owner</a>
</div>
<br>
<div class="mt-5">
<table class="table table-hover text-center">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  {% for owner in owners %}
  <tr>
    <!--attribute href - url where we want to go-->
    <!--reversed_app_url:reversed_singular_url-->
    <td>  <a href="{% url 'vet:owners_detail' pk=owner.id %}">{{ owner.id }}</a> </td>
    <td>{{ owner.first_name }}</td>
    <td>{{ owner.email }}</td>
    <td>
        <a href="{% url 'vet:owners_detail' pk=owner.id %}" class="btn btn-link"  role="button">View</a>
        <a href="{% url 'vet:owners_edit' pk=owner.id %}" class="btn btn-warning"  role="button">Modify</a>
        <a href="{% url 'vet:owners_delete' pk=owner.id %}" class="btn btn-danger"  role="button">DELETE</a>
    </td>
  </tr>
  {% empty %}
  <tr class="table-danger">
    <td>WARNING:</td>
    <td>Not</td>
    <td>Owners</td>
    <td>Found!!.</td>
  </tr>
  {% endfor %}
</table>
  {% include "pagination.html" %}
</div>
{% endblock content %}