{% extends "base.html" %}

{% block title %}
<title>Pets</title>
{% endblock title %}

{% block header %}
<h1>Pets owners list</h1>
{% endblock header %}

{% block content %}
<div style="text-align: center">
  <button><a href="{% url 'vet:owners_create'%}">Create Owner</a></button>
</div>
<br>
<div style="align-items: center">
<table style="text-align: center;align-items: center;margin-left: auto;margin-right: auto;">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  {% for owner in owners %}
  <tr>
    <!--attribute href - url where we want to go-->
    <!--reversed_app_url:reversed_singular_url-->
    <td>  <a href="{% url 'vet:owners_detail' pk=owner.id %}">{{ owner.id }}</a> </td>
    <td>{{ owner.first_name }}</td>
    <td>{{ owner.email }}</td>
    <td><a href="{% url 'vet:owners_detail' pk=owner.id %}">View</a> | <a href="{% url 'vet:owners_edit' pk=owner.id %}">Modify</a> | <a href="{% url 'vet:owners_delete' pk=owner.id %}">DELETE</a> </td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}