{% extends "base.html" %}

{% block title %}
<title>Pets</title>
{% endblock title %}

{% block header %}
<h1>Pets owners list</h1>
{% endblock header %}

{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Email</th>
  </tr>
  {% for owner in owners %}
  <tr>
    <!--attribute href - url where we want to go-->
    <!--reversed_app_url:reversed_singular_url-->
    <td>  <a href="{% url 'vet:owners_detail' pk=owner.id %}">{{ owner.id }}</a> </td>
    <td>{{ owner.first_name }}</td>
    <td>{{ owner.email }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}