<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container text-center mt-5 text-center">
    {% for message in messages %}
          <div class="message {{ message.tags }}">
            {{ message }}
          </div>
    {% endfor %}
    <h3>Welcome to Dogtor</h3>
    <small>*You must log in first</small>
    <hr>
    <br>

    <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-center">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Log In Form</h5>
                    <br>
                    <div class="card-text container-fluid">
                    <form method="POST" class="row">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <input type="email" class="form-control mt-2 mb-2" name="username" id="inputEmail" placeholder="Gmail" required>
                        <input type="password" class="form-control mt-2 mb-2" name="password" id="inputPass" placeholder="Password" required>
                    <button type="submit" class="btn btn-primary btn-block mt-3 mb-4">Log In</button>
                    </form>
                    </div>
                </div>
                 <div class="card-footer">
                    <a href="/account/register">Register</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>