<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container text-center mt-5 text-center">
    <h3>Welcome to Dogtor</h3>
    <small>You must sign up first</small>
    <hr>
    <br>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col">
      <!-- Simple link -->
      <a href="/accounts/login">Have an account?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-success btn-block mb-4">Register</button>
</form>
</div>
</body>
</html>