{% extends "base.html" %}

{% block title %}
<title>Pet</title>
{% endblock title %}

{% block header %}
<h1>Delete Pet</h1>
{% endblock header %}

<!--the context is -> 'owner'-->

{% block content %}
  {% if error_message %}
    <div class="alert alert-danger" role="alert">
      Can not delete!!!
      <p><b>Error:</b>{{ error_message }}</p>
    </div>

    <div style="text-align: center;">
      <a type="button" class="btn btn-danger" href="{% url 'vet:pets_list' %}">Return</a>
    </div>
  {% else %}
    <!--<div class="card-body">
      <h5>Delete {{ object }}?</h5>
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <a type="button" class="btn btn-danger" href="{% url 'vet:pets_list' %}">Cancel</a>
        <button type="submit" class="btn btn-success">Delete</button>
      </form>
    </div>-->
<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Delete {{ object }}?</h5>
        <div class="card-text mt-3">
          <form method="POST">
            {% csrf_token %}
            {{form.as_p}}  <!--loading form-->
            <button type="submit" class="btn btn-success">Delete</button>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <a type="button" class="btn btn-danger" href="{% url 'vet:pets_list' %}">Cancel</a>
      </div>
    </div>
  </div>
</div>
  {% endif %}
{% endblock content %}