{% extends "base.html" %}

{% block title %}
<title>Pets</title>
{% endblock title %}

{% block header %}
<h1>Pets list</h1>
{% endblock header %}

{% block content %}
<div class="mt-3 mb-3">
  <form class="form-control" role="search" method="get">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>


<div class="text-center mt-3 mb-3">
  <a href="{% url 'vet:pets_create'%}" class="btn btn-primary"  role="button">Create Pet</a>
</div>
<br>
<div class="mt-5 mb-3">
  <button id="download-csv-button" class="btn btn-success mb-2">Download CSV</button>
</div>
{% if pets %}
<table class="table table-hover text-center">
  <tr>
    <th>#Pet</th>
    <th>Name</th>
    <th>Type</th>
    <th>Owner</th>
    <th>Actions</th>
  </tr>
    {% for pet in pets %}
    <tr>
      <td>  <a href="{% url 'vet:pets_detail' pk=pet.id %}">{{ pet.id }}</a> </td>
      <td>{{ pet.name }}</td>
      <td>{{ pet.type }}</td>
      <td>{{ pet.owner }}</td>
      <td>
          <a href="{% url 'vet:pets_detail' pk=pet.id %}" class="btn btn-link"  role="button">View</a>
          <a href="{% url 'vet:pets_edit' pk=pet.id %}" class="btn btn-warning"  role="button">Modify</a>
          <a href="{% url 'vet:pets_delete' pk=pet.id %}" class="btn btn-danger"  role="button">DELETE</a>
      </td>
    </tr>
    {% endfor %}
</table>
  {% include "pagination.html" %}
{% else  %}
  <h3>DATA NOT FOUND</h3>
{% endif  %}
{% endblock content %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get a reference to the download button
    const downloadButton = document.getElementById('download-csv-button');
    const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
    // Add a click event listener to the button
    downloadButton.addEventListener('click', function () {
        // Create a data object to send as JSON in the POST request
        const postData = {
            // Define your data here
          "model_view" : "Pet"
        };

        // Make a POST request to the Django view that generates the CSV
        fetch('{% url 'vet:generate_csv' %}',
              {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(postData), // Convert data to JSON format
        })
        .then(response => response.blob()) // Convert the response to a Blob
        .then(blob => {
            // Create a temporary URL for the Blob
            const url = window.URL.createObjectURL(blob);

            // Create a link element and trigger the download
            const a = document.createElement('a');
            a.href = url;
            a.download = 'your_data.csv';  // Set the desired file name
            document.body.appendChild(a);
            a.click();

            // Clean up resources
            window.URL.revokeObjectURL(url);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>
{% endblock scripts %}