{% extends "base.html" %}

{% block title %}
<title>Pets</title>
{% endblock title %}

{% block header %}
<h1>Pets list</h1>
{% endblock header %}

{% block content %}
<div style="text-align: center">
  <button><a href="{% url 'vet:pets_create'%}">Create Pet</a></button>
</div>
<br>
{% if pets %}
<table style="text-align: center;align-items: center;margin-left: auto;margin-right: auto;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Owner</th>
  </tr>
    {% for pet in pets %}
    <tr>
      <td>  <a href="{% url 'vet:pets_detail' pk=pet.id %}">{{ pet.id }}</a> </td>
      <td>{{ pet.name }}</td>
      <td>{{ pet.type }}</td>
      <td>{{ pet.owner }}</td>
      <td><a href="{% url 'vet:owners_detail' pk=pet.id %}">View</a> | <a href="{% url 'vet:pets_edit' pk=pet.id %}">Modify</a> </td>
    </tr>
    {% endfor %}
</table>
{% else  %}
  <h1>DATA NOT FOUND</h1>
{% endif  %}
{% endblock content %}