{% extends "base.html" %}

{% block title %}
<title>Pet</title>
{% endblock title %}

{% block header %}
<h1>Edit Pet</h1>
{% endblock header %}

<!--the context is -> 'owner'-->
{% block content %}
<!--<form method ="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Update</button>
</form>-->
<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Update Pet</h5>
        <p class="card-text">
          <form method="POST">
            {% csrf_token %}
            {{form.as_p}}  <!--loading form-->
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </p>
      </div>
      <div class="card-footer">
        <a type="button" class="btn btn-danger" href="{% url 'vet:pets_list' %}">Cancel</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}