<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/vet">Dogtor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/vet">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vet/owners">Owners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vet/pets">Pets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vet/petdates">Appointments</a>
          </li>
      </ul>
      <div class="d-flex align-self-center">
          <!-- if user is authenticated displays logout button-->
          {% if request.user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hello {{ request.user.user_name }}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/account/edit_profile/">Edit User</a></li>
                <li><a class="dropdown-item" href="/accounts/logout/">Log Out</a></li>
            </ul>
          </div>
          {% else %}
          <!-- otherwise displays login button -->
            <a href="/accounts/login/" class="btn btn-success">Login</a>
          {% endif %}
      </div>
    </div>
  </div>
</nav>